<h1>Editing join table order item</h1>

<%= render "form", join_table_order_item: @join_table_order_item %>

<br>

<div>
  <%= link_to "Show this join table order item", @join_table_order_item %> |
  <%= link_to "Back to join table order items", join_table_order_items_path %>
</div>
