<p style="color: green"><%= notice %></p>

<h1>Join table order items</h1>

<div id="join_table_order_items">
  <% @join_table_order_items.each do |join_table_order_item| %>
    <%= render join_table_order_item %>
    <p>
      <%= link_to "Show this join table order item", join_table_order_item %>
    </p>
  <% end %>
</div>

<%= link_to "New join table order item", new_join_table_order_item_path %>
