<br><br><br><br><br>
<p style="color: green"><%= notice %></p>
<% unless Order.all.where(user_id: current_user.id).empty? %>
  <% @order.join_table_order_items.each do |order|%>
    <%= "Title: " + order.item.title + "."%>
    <%= "Quantité : #{order.quantity}" %>
    <br>
    <br>
  <% end %>

  <div>
    <%= button_to "Back to profil", user_path(current_user.id), method: :get %>
  </div>
<%end%>