<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Salut <%= @admin.email %> !</h1>
        <p>
          Un utilisateur vient de passer commande chez nous.
        </p>
    </body>
</html>