<section class="relative">
  <div class="max-w-xl mx-auto px-4 sm:px-6 relative">
      <div class="pt-32 pb-12 md:pt-40 md:pb-20">

            <div class="flex justify-center">
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
                <%if @user.avatar.attached?%>
                    <%= image_tag @user.avatar, alt: 'avatar', html: { class: 'rounded-lg'} %>
                <%else%>   
                <h5 class="text-gray-900 text-xl font-medium mb-2 text-center"><p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p></h5>
                <% end %>
                
                <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2"><p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@user.id%></p></h5>
                <% current_user_orders.each_with_index do |a, index| %>
                <p> <%= link_to "commande n° : #{index+1}", order_path(a.id), html: { class: 'rounded-lg text-center'} %></p>      
                <% end %>
                <h3 class= "text-center mt-6">Changer d'avatar ?</h3>   
                
                <input  type="file" name="avatar" id="avatar" class = "items-center" />    
                <div class="flex justify-center mt-6">
                    <input  type="submit" name="commit" class="px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" value="Enregistrer" data-disable-with="Save" />     
                </div>  
               
                </div> 
                
            </div>
            </div>
        </div>
    </div>
</section>